/* 
 시계방향(top, right, bottom, left)
 
 1.padding : 안쪽 여백
 2.margin : 바깥쪽 여백
 3.border : 테두리

 ex) padding: 12px 20px; (1개주면 4방향통일, 2개주면 서로 마주보는쪽 끼리)
     padding: 12px 20px 10px; (시계방향으로 가다가 left는 마주보는쪽 따라간다)
     0 px = 0 가능
*/

input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: inline-block;
  box-sizing: border-box;
}
/* cursor: pointer; : 마우스를 올리면 손모양이 나온다 */
input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  padding: 14px 20px;
  color: white;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
/* 버튼에 마우스를 올리면 살짝 진한색으로 나온다 */
input[type="submit"]:hover {
  background-color: #45a049;
}
/* 입력 창 클릭을(focus) 하면 배경색 변경 */
input[type="text"]:focus {
  background-color: cornflowerblue;
}
div {
  background-color: gainsboro;
  padding: 20px;
  border-radius: 5px;
}
